/* reszponzivitás */
@media only screen and (max-width: 400px) {
	.keret{
        height: 650px!important;
        border: none!important;
    }
    .felso, .kozepso, .also{
         margin-left: 5px!important;
    }

    .example-parent{
      padding: 0!important;
      margin: 0!important;
    }

    .example-draggable{
      height: 45px!important;
    }


}

.keret{
    /* background-image: url(https://interaktivfeladat.hu/jatek/pic/alapkep01.gif); */
    width: 85%;
    /* height: 500px; */
    padding: 10px;
    /* border: 10px solid #0090A4; */
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .igegep_keret{
    text-align: center;
  }
   
  #igepic01, #igepic02, #igepic03, #igepic04, #igepic05,
  #igepic06, #igepic07, #igepic08, #igepic09, #igepic10,
  #igepic11, #igepic12, #igepic13
  {
    display: block;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    opacity:0.1;
  }

  #ige{
    text-align: center;
    font-size: 28px;
  }

  .nyilak{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
  }

  p { 
    line-height: 30%; 
  }

  .gombok{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
   /*  margin-bottom: 30px; */
}

/*   #ige01, #ige02{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    width: 250px;
    align-items: center;
  } */